.ProjectView {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.ProjectHeaderBox {
  display: flex;
  flex-direction: row;
}

.creator {
  float: left;
  flex-direction: column;
  border-right: 10px;
}

.creator-image {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.creator-name {
  font-size: 10pt;
  width: 100%;
  clear: both;
}

.title {
  float: center;
  border-right: 20px;
}

.title-name {
  font-size: 16pt;
  margin: 2px;
}

.title-blurb {
  font-size: 12pt;
}

.image {
  width: 85%;
  height: auto;
}

.context {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.context-category {
  display: flex;
  margin: 10px;
}

.context-category-icon {
  width: auto;
  height: 19px;
  padding-right: 5px;
}

.context-category-text {
  font-size: 12pt;
}

.context-location {
  display: flex;
  margin: 10px;
}

.context-location-icon {
  width: auto;
  height: 19px;
  padding-right: 5px;
}

.context-location-text {
  font-size: 12pt;
}
